---
import { AlertDialogDemo } from "@/components/AlertDialogDemo"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro | Radix - shadcn UI</title>
	</head>
	<body class="bg-slate-200 dark:bg-slate-800 p-5 font-normal text-slate-800 dark:text-slate-200">
		<h1>Astro</h1>
		<div class="mt-5"><AlertDialogDemo client:load /></div>
	</body>
</html>
